<style type="text/css" media="screen">
  /*ここからログイン,新規登録関係*/


div.main{
    background: #0264d6; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #0264d6 1%, #1c2b5a 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#0264d6), color-stop(100%,#1c2b5a)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #0264d6 1%,#1c2b5a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0264d6', endColorstr='#1c2b5a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
height:calc(100vh);
width:100%;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

* {
  box-sizing: border-box;
    margin:0px auto;

  &:before,
  &:after {
    box-sizing: border-box;
  }

}

body {
   
  color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

a {
  color: #eee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

p {
  line-height: 1.5em;
}

.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }

}

.container {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */

#login form{
  width: 250px;
}
#login, .logo{
    display:inline-block;
    width:40%;
}
#login{
border-right:1px solid #fff;
  padding: 0px 22px;
  width: 59%;
}


.logo{
color:#fff;
font-size:50px;
  line-height: 125px;
}


.logo2{
color:#fff;
font-size:50px;
  line-height: 250px;
}

fieldset{
    padding:0;
    border:0;
    margin: 0;
}

#login form input[type="text"], input[type="password"] {
  background-color: #FFF;
  border-radius:  5px ;
  color: #000;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 200px;
}


.middle {
  display: flex;
  width: 600px;
}


.login_form{
  border-radius:  5px ;
  width:200px;
  height:50px;
  margin-bottom: 10px;
}

.text_header-right a {
    display: block;
    font-size: 15px;
    color: #000000;
    text-decoration: none;
}

/*ここまでログイン,新規登録関係*/
</style>


<div class="main">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <div class="container">
      <center>
        <div class="middle">
          <div id="login">
            <form action="javascript:void(0);" method="get">
             <fieldset class="clearfix">


                <%= f.text_field :nickname ,class: "login_form text-center", autofocus: true, autocomplete: "ユーザーネーム",placeholder: "user name"  %>

                 <%= f.email_field :email,class: "login_form text-center",Placeholder: "Email" , autofocus: true, autocomplete: "email" %>

                    <%= f.password_field :password,class: "login_form text-center", autocomplete: "off" ,placeholder: "Password" %>


                    <%= f.password_field :password_confirmation ,class: "login_form text-center", autocomplete: "off",placeholder: "Password"  %>

                    <div>
                        <span style="width:48%; text-align:left;  display: inline-block;"><%= render "devise/shared/links"  ,class: "shared_links" %></span>

                        <%= f.submit "Sign_up" ,class: "btn btn-default" %>
                    </div>
                </fieldset>
                <div class="clearfix"></div>
                </form>
                <div class="clearfix"></div>
            </div> <!-- end sign_up -->
            <div class="logo logo2">Sign_up
            <div class="clearfix"></div>
          </div>
        </div>
      </center>
    </div>
  <% end %>
</div>
