
	<%= attachment_image_tag @user, :profile_image, fallback: "no_image_top.jpg",class: "img-thumbnail img-responsive center-block profile_image_layout" %>
	<%= render 'follow_form' %>
　　　   <%= render 'stats' ,class: "text-center" %>
    <h3 class="my-3">登録情報</h3>
    <ul>
      <li class="text-left">名前：<%= @user.last_name %><%= @user.first_name %></li>
      <li class="text-left">ふりがな：<%= @user.last_name_kana %><%= @user.first_name_kana %></li>
      <li class="text-left">ユーザーネーム：<%= @user.nickname %></li>
      <li class="text-left">電話番号：<%= @user.phone_number1 %><%= @user.phone_number2 %><%= @user.phone_number3 %></li>
      <li class="text-left">メールアドレス：<%= @user.email %></li>
      <li class="text-left">郵便番号：<%= @user.zip %></li>
      <li class="text-left">住所：<%= @user.state %><%= @user.city %><%= @user.street %></li>
	  <li class="text-left">最終ログイン:<%= @user.current_sign_in_at.strftime("%m#{"月"}%d#{"日"}%R") %></li>
    </ul>

	<% if @user == current_user || admin_signed_in? %>
	<%= link_to "編集", edit_user_path, class: "btn btn-success" %>
	<%= link_to "退会", user_path(@user), method: :delete, class: "btn btn-danger", data: { confirm: '退会時はユーザー情報は論理削除されて当サイトで1ヶ月の保管をさせていただいた後に完全削除をします。　承諾できますか?'} %>
	<% end %>
