  <div class="orders_history_title">
    <h1 style="display:inline;">お気に入りの商品</h1>
     <hr>
  </div>
  <div class="row">
<% @user.products.each_with_index do |product, i| %>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">注文番号：<%= product.id %></h3>
          </div>
            <div class="panel-body">
              <!--商品画像-->
                <%= attachment_image_tag product, :image , class: "history_image" %>

              <label style="display:inline;">商品名</label>
              <h4 style="display:inline;" class="card-title">
                <%= link_to product_path(product.id) do %>
                  <%= product.title %>
                <% end %>
              </h4>
              <P><P><label>販売者</label>
                <%= product.user.nickname %></P></P>

              <P><label>商品購入日</label>
                <%= product.created_at.strftime("%Y-%m-%d") %></P>

              <P><label>値段</label>
                <%= product.price %>円</P>

              <P><label>商品URL</label>
                <%= product.url %></P>

              <P><label>削除ボタン</label>
                <%= link_to "削除",favorite_path(@favorites[i][:id]), method: :delete %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
