<% if @users != current_user.id %>
   <div class="col-md-12"> 
　   <h1 style="display:inline;">購入履歴</h1>
		<h3 style="display:inline;"><%= current_user.nickname %>様</h3>
    <hr>
    </div>
	<div class="row">
		<% @user.orders.each do |order| %>
			<% order.product_orders.each do |product_order| %>
			<div class="col-lg-4 col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">注文番号：<%= product_order.id %></h3>
					</div>
						<div class="panel-body">
							<!--商品画像-->
								<%= attachment_image_tag product_order.product, :image , class: "history_image" %>

							<label style="display:inline;">商品名</label>
							<h4 style="display:inline;" class="card-title">
								<%= link_to product_path(product_order.product.id) do %>
									<%= product_order.product.title %>
								<% end %>
							</h4>
							<P><P><label>販売者</label>
								<%= product_order.product.user.nickname %></P></P>

							<P><label>商品購入日</label>
								<%= product_order.created_at.strftime("%Y-%m-%d") %></P>

							<P><label>値段</label>
								<%= product_order.product.price %>円</P>

							<P><label>商品URL</label>
								<%= product_order.product.url %></P>
						</div>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
</div>
<% end %>