<div class="container">
    <h1 class="my-4">販売中商品</h1>
    <div class="row product_show">
        <% @products.each do |product| %>
            <hr>
            <div class="col-xs-12">
                <table>
                    <tbody>
                        <tr>
                            <td class="col-xs-4">商品ID：<%= product.id %></td>
                            <td class="col-xs-3">商品情報</td>
                            <td class="col-xs-1">価格</td>
                            <td class="col-xs-2"></td>
                        </tr>
                        <tr>
                            <td class="col-xs-4"><%= attachment_image_tag product, :image , class: "history_image" %></td>
                            <td class="col-xs-3">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="user_td_cancer"><strong>商品名：</strong><%= product.title %></td>
                                        </tr>

                                        <% if product.user == current_user || admin_signed_in? %>
                                        <tr>
                                            <td class="user_td_cancer"><strong>商品URL：</strong><%= product.url %></td>
                                        </tr>
                                        <% end %>

                                        <tr>
                                            <td class=""><strong>商品登録日：</strong><%= product.created_at.strftime("%Y-%m-%d") %></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="col-xs-1 user_td"><%= product.price %>円(税込)</td>
                            <td class="col-xs-2">
                                <% if product.user == current_user || admin_signed_in? %>
                                <%= link_to "詳細", product_path(product.id), class: "btn-sm btn btn-default col-xs-12 text-center" %>
                                <%= link_to "削除", product_path(product.id), method: :delete, class: "btn btn-sm btn-danger col-xs-12 text-center", data: { confirm: '本当に消しますか?'} %>
                                 <% end %>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr>
            </div>
        <% end %>
    </div>
</div>
