<div class="container pc">
    <div class="col-xs-12"> 
    <h2 class="my-4 title-h3">販売中商品</h2>
</div>
    <div class="row product_show">
        <% @products.each do |product| %>
            <hr>
            <div class="col-xs-12">
                <table>
                    <tbody>
                        <tr>
                            <td class="col-xs-4">商品ID：<%= product.id %></td>
                            <td class="col-xs-3">商品情報</td>
                            <td class="col-xs-1">価格</td>
                            <td class="col-xs-2"></td>
                        </tr>
                        <tr>
                            <td class="col-xs-4"><%= attachment_image_tag product, :image , class: "history_image" %></td>
                            <td class="col-xs-3">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="user_td_cancer"><strong>商品名：</strong><%= product.title %></td>
                                        </tr>

                                        <% if product.user == current_user || admin_signed_in? %>
                                        <tr>
                                            <td class="user_td_cancer"><strong>商品URL：</strong><%= product.url %></td>
                                        </tr>
                                        <% end %>

                                        <tr>
                                            <td class=""><strong>商品登録日：</strong><%= product.created_at.strftime("%Y-%m-%d") %></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="col-xs-1 user_td"><%= number_to_currency(product.price,:locale => 'jp') %>(税込)</td>
                            <td class="col-xs-2">
                                <%= link_to "詳細", product_path(product.id), class: "btn-sm btn btn-default col-xs-12 text-center" %>
                                 <% if product.user == current_user || admin_signed_in? %>
                                <%= link_to "削除", product_path(product.id), method: :delete, class: "btn btn-sm btn-danger col-xs-12 text-center", data: { confirm: '本当に消しますか?'} %>
                                 <% end %>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr>
            </div>
        <% end %>
    </div>
</div>



<!--===========================================responsive用===================================================================== -->


<div class="container responsive">
    <div class="col-xs-12"> 
 <h2 class="my-4 title-h3">販売中商品</h2>
    </div>
    <div class="row product_show">
<% @products.each do |product| %>
            <div class="col-xs-12">
                <hr>
                <div class="col-xs-12">
                    <div class="col-xs-12">商品ID：<%= product.id %></div>
                </div>

                 <div class="col-xs-6">
                    <div class="col-xs-12"><%= attachment_image_tag product, :image , class: "history_image" %></div>
                </div>


                <div class="col-xs-6">
                    <div class="col-xs-12">商品情報</div>
                    <div class="col-sm-12"><strong>商品名：</strong><%= product.title %></div>
                    <% if product.user == current_user || admin_signed_in? %>
                    <div class="col-sm-12"><strong>商品URL：</strong><%= product.url %></div>
                    <% end %>
                     <div class="col-xs-12"><strong>価格：</strong><%= number_to_currency(product.price,:locale => 'jp') %>(税込)</div>
                    <div class="col-sm-12"><strong>商品登録日：</strong><%= product.created_at.strftime("%Y-%m-%d") %></div>
                    <div class="col-sm-12"><%= link_to "詳細", product_path(product.id), class: "btn btn-sm btn-default col-xs-6 text-center" %></div>
                                 <%# if product.user == current_user || admin_signed_in? %>
                                <%#= link_to "削除", product_path(product.id), method: :delete, class: "btn btn-sm btn-danger col-xs-12 text-center", data: { confirm: '本当に消しますか?'} %>
                <%# end %>
                </div>


                 </div>
        <% end %>
    </div>
</div>



