<div class="container">
	<div class="row product_show">
		<div class="orders_history_title">
		<h1 style="display:inline;">ユーザー情報</h1>
		</div>

    	<div class="col-md-3 text-center">
	    	<%= attachment_image_tag @user, :profile_image, :fill, 200, 200,  fallback: "no_image_top.jpg",class: "img-thumbnail img-responsive center-block" %>
	    	<%= render 'follow_form' %>
	　　　   <%= render 'stats' ,class: "text-center" %>
	        <h3 class="my-3">登録情報</h3>
	        <ul>
	          <li class="text-left">名前：<%= current_user.first_name %><%= current_user.last_name %></li>
	          <li class="text-left">ふりがな：<%= current_user.first_name_kana %><%= current_user.last_name_kana %></li>
	          <li class="text-left">ユーザーネーム：<%= current_user.nickname %></li>
	          <li class="text-left">電話番号：<%= current_user.phone_number1 %><%= current_user.phone_number2 %><%= current_user.phone_number3 %></li>
	          <li class="text-left">メールアドレス：<%= current_user.email %></li>
	          <li class="text-left">郵便番号：<%= current_user.zip %></li>
	          <li class="text-left">住所：<%= current_user.state %><%= current_user.city %><%= current_user.street %></li>
			  <li class="text-left">最終ログイン:<%= current_user.current_sign_in_at.strftime("%m#{"月"}%d#{"日"}%R") %></li>
	        </ul>
			<!-- <%# if @user == current_user %> -->
			<%= link_to "編集", edit_user_path, class: "btn btn-success" %>
			<!-- <%# end %> -->

			<!-- <%# if @user == current_user %> -->
			<!-- < if current_user.admin? > -->
			<%= link_to "退会", user_path(@user), method: :delete, class: "btn btn-danger", data: { confirm: '退会時はユーザー情報は論理削除されて当サイトで1ヶ月の保管をさせていただいた後に完全削除をします。　承諾できますか?'} %>
			<!-- <%# end %> -->
   		 </div>

	   	<div class="col-md-9">
	        <ul class="nav nav-pills">
	          <li class="active"><a href="#sampleContentA" data-toggle="tab">ユーザー情報</a></li>
	          <li><a href="#sampleContentB" data-toggle="tab"></a></li>
	          <li><a href="#sampleContentC" data-toggle="tab">コメント</a></li>
	        </ul>

				<!-- 内容 -->
			<div class="tab-content ">
				<!--   Aタブ部分    -->
				<div class="tab-pane  active col-md-12" id="sampleContentA">
					<h3 class="my-3">ユーザー紹介</h3>
					<%= @user.introduction %>
				 </div>
				<!--   Aタブ部分    -->


				<!--   Bタブ部分    -->
				<div class="tab-pane col-md-12" id="sampleContentB">
					<h3 class="my-3">商品説明</h3>
				</div>
				<!--   Bタブ部分    -->
				<div class="tab-pane col-md-12" id="sampleContentB">
					<h3 class="my-3">商品説明</h3>
				</div>
				<!--   Cタブ部分    -->
				<div class="tab-pane col-md-12" id="sampleContentC">
					<h3 class="my-3">コメント</h3>
				</div>
				<!--   Cタブ部分    -->
			  </div>
		</div>
 	</div>
</div>
