<div class="container">
<div class="col-xs-12"> 
		<h2 class="title-h3">ユーザー情報</h2>
    </div>
	


	<div class="row product_show">
		<div class="col-md-3 text-center">
			<%= render 'profile' %>
		</div>

	   	<div class="col-md-9">
	        <ul class="nav nav-tabs">
	          <li><a href="#sampleContentA" data-toggle="tab">ユーザー情報</a></li>
	          <li class="active"><a href="#sampleContentB" data-toggle="tab">コメント</a></li>
	        </ul>

				<!-- 内容 -->
			<div class="tab-content ">
				<!--   Aタブ部分    -->
				<div class="tab-pane col-md-12" id="sampleContentA">
					<h3 class="my-3">ユーザー紹介</h3>
					<%= @user.introduction %>
				 </div>
				<!--   Aタブ部分    -->
				
				<!--   Bタブ部分    -->
				<div class="tab-pane active col-md-12" id="sampleContentB">
					<table class="table table-hover">
						<tbody>
							<% @mypage_comments.each do |message| %>
							<tr>
								<td class="comment_td col-xs-1">
									<%= link_to user_path(message.to_user.id) do %>
									<%= attachment_image_tag message.to_user, :profile_image, fallback: "no_image_top.jpg" ,class: "img-circle comment_image" %>
										<% end %>
									</td>
								<!-- メッセージを送った人の情報もらった -->
								<td class="comment_td col-xs-6"><%= message.comment %></td>
								<!-- メッセージを送った人の情報もらった -->
								<td class="comment_td col-xs-2"><%= message.to_user.nickname %></td>
								<td class="comment_td col-xs-2"><%= message.created_at.strftime("%m#{"月"}%d#{"日"}%R")  %></td>
								<td class="comment_td col-xs-1">
									<% if message.to_user_id == current_user.id %>
									<%= link_to "削除", mypage_comment_path(message), method: :delete,  data: { confirm: '本当に消しますか?'} %>
									<% end %>
								</td>
							</tr>
							<% end %>
									<div class="col-sm-12 text-center">
							<%= paginate @mypage_comments, class: "pagenate" %>
						</div>
							<%= form_for @mypage_comment, url:  mypage_comments_path , html: {method: "POST"} do |f| %>
							<tr>
								<td colspan="4"><%=f.text_field :comment, class: "index_contact_form col-xs-10" , maxlength:140 %>
					            <%= f.hidden_field :from_user_id , value: @user.id %></td>
								<td><%= f.submit "送信" ,class: "btn btn-default col-xs-12" %></td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				<!--   Bタブ部分    -->
			  </div>
		</div>
 	</div>
</div>
