<style type="text/css" media="screen">
/*ここからログイン,新規登録関係*/


div.main{
    background: #0264d6; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #0264d6 1%, #1c2b5a 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#0264d6), color-stop(100%,#1c2b5a)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #0264d6 1%,#1c2b5a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0264d6', endColorstr='#1c2b5a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
height:calc(100vh);
width:100%;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

* {
  box-sizing: border-box;
    margin:0px auto;

  &:before,
  &:after {
    box-sizing: border-box;
  }

}

body {
   
  color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

a {
  color: #eee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

p {
  line-height: 1.5em;
}

.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }

}

.container {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */

#login form{
  width: 250px;
}
#login, .logo{
    display:inline-block;
    width:40%;
}
#login{
border-right:1px solid #fff;
  padding: 0px 22px;
  width: 59%;
}


.logo{
color:#fff;
font-size:50px;
  line-height: 125px;
}


fieldset{
    padding:0;
    border:0;
    margin: 0;
}

#login form input[type="text"], input[type="password"] {
  background-color: #FFF;
  border-radius:  5px ;
  color: #000;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 200px;
}


.middle {
    display: flex;
    width: 600px;
    margin-right: 450px;
}


.login_form{
  border-radius:  5px ;
  width:300px;
  height:50px;
  margin-bottom: 10px;
}

.text_header-right a {
    display: block;
    font-size: 15px;
    color: #000000;
    text-decoration: none;
}


   .wrapper{
    position:absolute;
    top:50%;
    left:70%;
    transform: translate(-50%,-50%);
    width:50%;
}

path{
    stroke: #F6F7FB;
    fill: #F6F7FB;
    stroke-dasharray: 1400;
    opacity: 10;
    animation: animate 3s cubic-bezier(0,.48,1,.3);
}

@keyframes animate{
    0%{
        opacity: 0;
        fill: none;
        stroke-dashoffset: 1400;
    }

    30%{
        opacity:10;
        fill: none;
        stroke-dashoffset: 1400;
    }

    90%{
        fill: rgba(255,255,255,0);
    }

    100%{
        opacity: 10;
        fill: rgba(255,255,255,1);
        stroke-dashoffset: 0;
    }
}


/*ここまでログイン,新規登録関係*/
</style>



<div class="main">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

    <div class="container">
      <center>
        <div class="middle">
          <div id="login">
                <form action="javascript:void(0);" method="get">
                <fieldset class="clearfix">
                    <%= f.email_field :email,class: "login_form text-center",Placeholder: "Email" , autofocus: true, autocomplete: "email" %>
                    <div>
                        <span style="width:48%; text-align:left;  display: inline-block;"><%= render "devise/shared/links" ,class: "shared_links" %></span>

                        <%= f.submit "reset password" ,class: "btn btn-default" %>
                          <% end %>
                    </div>
                </fieldset>
                <div class="clearfix"></div>
                </form>
                <div class="clearfix"></div>
            </div>


<div class="logo login_logo_text">

<div class="wrapper">


    <svg version="1.1" id="レイヤー_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
     y="0px" viewBox="0 0 1952.3 252" style="enable-background:new 0 0 1952.3 252;" xml:space="preserve">
  <style type="text/css">
    .st0{fill:#F6F7FB;stroke:#F6F7FB;stroke-width:3;stroke-miterlimit:10;}
  </style>
  <g>
      <path class="st0" d="M95.6,175.8l-25.8,37.5c3.6,10.5-14.1,21.6-22.2,21.6c-3.6,0-6.9-2.4-6.9-6.3c0-5.7,2.1-9.9,5.1-14.7L73.7,168
        c-4.8-1.2-15.6-5.1-14.4-11.1c2.7-15.6,18.3-30,46.2-30.9l44.4-64.2c-21.9,3.6-44.1,7.5-64.5,15.6V78c18.9,1.8,24.9,0.6,24.9,5.1
        c0,2.4-4.2,3.3-5.7,3.3l-23.4,2.4c-8.4,0.9-19.2,3-27.9,3c-4.5,0-10.8-1.5-10.8-7.2c0-9.6,9.3-28.8,15.3-36.3
        c14.1-16.8,78.9-32.7,139.5-32.7c27.6,0,86.1,2.7,86.1,41.1c0,15.3-9.6,38.4-21.6,48c-24.6,19.8-39.6,19.5-147.6,39.6v0.6l81,25.8
        c51.6,16.5,50.4,24.3,51.9,26.7c5.7,10.5,6.9,33-3.3,33c-7.8,0-29.1-10.5-37.2-13.5L95.6,175.8z M134.3,119.1L209,99.6
        c12.3-3.3,52.5-20.4,52.5-35.1c0-9.3-32.4-9.6-39-9L167,59.4c0.3,10.5-5.1,17.4-10.5,25.8L134.3,119.1z"/>
      <path class="st0" d="M379.4,175.8c-18.3,21.3-51.3,49.5-81,49.5c-21.9,0-32.1-19.5-32.7-39.3c-1.2-39.3,42.3-79.5,81.3-79.2
        c9.6,0,21.6,2.4,21.6,14.4c0,14.7-14.7,36.9-72.3,55.8l-0.6,6.6c-0.9,11.4,9,15.3,18.6,15.3c21.3,0,46.5-21.9,62.4-34.5
        L379.4,175.8z M342.2,127.5c0-2.1-1.5-3.9-3.6-3.3c-15,3.9-32.4,18.3-40.5,38.1C324.5,153.3,342.5,132.6,342.2,127.5z"/>
      <path class="st0" d="M479.6,168.9l3,11.4c-18.3,18.3-51,45.6-75,44.4c-20.1-0.9-42.3-12.3-47.7-34.2c-1.8,1.8-3.9,3.9-6.6,3.9
        c-3,0-5.1-3-5.1-5.7c0-3.9,4.8-8.1,7.2-10.5l65.1-59.7c0.6-9.9,6.3-19.5,17.1-19.5c9,0,10.8,2.7,11.7,11.1
        c1.2,11.4,5.7,21.6,5.7,34.8c0,24.6-19.8,42.9-39,54.6c19.2,3.3,30.9-5.7,45.6-16.8L479.6,168.9z M377.6,175.3
        c11.1,0.6,17.7,9.9,23.4,17.7c18-11.1,22.8-16.2,23.7-33.6c-0.9-6.3-2.1-14.4-3.9-24.6L377.6,175.3z"/>
      <path class="st0" d="M594.2,175.8c-18.3,21.3-51.3,49.5-81,49.5c-21.9,0-32.1-19.5-32.7-39.3c-1.2-39.3,42.3-79.5,81.3-79.2
        c9.6,0,21.6,2.4,21.6,14.4c0,14.7-14.7,36.9-72.3,55.8l-0.6,6.6c-0.9,11.4,9,15.3,18.6,15.3c21.3,0,46.5-21.9,62.4-34.5
        L594.2,175.8z M557,127.5c0-2.1-1.5-3.9-3.6-3.3c-15,3.9-32.4,18.3-40.5,38.1C539.3,153.3,557.3,132.6,557,127.5z"/>
      <path class="st0" d="M694.1,95.4c-14.1,28.5-16.5,39.6-49.5,37.5c-10.2,13.2-27.3,37.8-27.3,55.8c0,6.6,2.1,10.5,9,10.5
        c9.6,0,20.4-9,51.6-31.2l1.5,13.2c-17.7,16.2-50.1,48.3-75.6,48.3c-11.7,0-18.9-8.1-18.9-20.1c0-9.9,3.9-21.3,7.8-30l-0.6-0.6
        l-15.3,12.3l-3.3-11.4c18-13.8,34.5-29.1,45.6-48c-18.3,0-12.6-1.2-28.5,1.2l3.3-5.4c16.2-26.4,18.6-31.2,50.7-32.4
        c9-12.3,15.6-26.4,33-26.4c3.9,0,9.6,0.9,9.6,5.7c0,5.4-8.7,15.3-11.7,19.5L694.1,95.4z"/>
      <path class="st0" d="M830.9,191.1c2.7,0.6,5.7,2.1,5.7,5.4c0,3.9-7.5,13.8-15.3,24.3c-3.9,5.4-10.2,14.1-17.7,14.1
        c-7.2,0-10.2-4.2-10.2-10.8c0-13.2,21.3-45.9,28.5-58.5c-7.2-4.5-13.5-9.9-13.5-19.2c0-17.4,35.4-25.5,48-29.4l47.7-63
        c-52.5,0.9-94.2,20.1-103.2,20.1c-1.8,0-4.8-0.3-4.8-3c0-7.2,17.4-30.3,22.2-36.9c5.4-7.5,14.4-9.9,22.8-12.3
        c26.1-7.5,53.7-10.5,80.7-10.5c74.4,0,95.1,24,95.1,61.2c0,63.9-77.7,108.9-173.7,98.1L830.9,191.1z M883.4,113.1
        c11.1,0,23.4-4.2,23.4,1.5c0,6-25.5,7.5-30.3,10.8l-6.6,9.9c11.1,3,21.3,3.6,30.9,3c58.8-3.3,97.5-46.2,94.2-65.1
        c-3.3-18.3-59.7-21.9-73.5-21.9c-0.3,8.1-2.1,12-6.6,18.3L883.4,113.1z"/>
      <path class="st0" d="M1051.1,200.1c-5.7,4.5-24.9,20.1-31.8,20.1c-8.4,0-25.8-19.8-26.4-35.4c-1.2-37.5,76.8-75.9,111.6-76.8
        c13.8-0.3,19.5,10.8,19.5,14.4s-7.8,6.6-10.5,7.5c5.7,2.4,8.7,5.7,8.7,12.3c0,9.6-26.1,30.6-26.1,44.7c0,5.1,4.5,7.2,9.3,7.2
        c12.6,0,29.7-15.3,42.6-24l2.4,11.1c-12.9,14.7-53.1,46.8-67.8,46.8c-9.9,0-14.4-7.2-14.4-15.9c0-9.6,7.2-25.5,11.1-33.6l-0.6-0.6
        L1051.1,200.1z M1014.8,192.4c0.3,1.5,1.5,6.9,6,6c6-1.2,15.3-0.3,74.7-60.3l-0.6-0.6C1023.5,159.3,1014.8,177.6,1014.8,192.4z"/>
      <path class="st0" d="M1252.7,168.9l3,11.4c-18.3,18.3-51,45.6-75,44.4c-20.1-0.9-42.3-12.3-47.7-34.2c-1.8,1.8-3.9,3.9-6.6,3.9
        c-3,0-5.1-3-5.1-5.7c0-3.9,4.8-8.1,7.2-10.5l65.1-59.7c0.6-9.9,6.3-19.5,17.1-19.5c9,0,10.8,2.7,11.7,11.1
        c1.2,11.4,5.7,21.6,5.7,34.8c0,24.6-19.8,42.9-39,54.6c19.2,3.3,30.9-5.7,45.6-16.8L1252.7,168.9z M1150.7,175.3
        c11.1,0.6,17.7,9.9,23.4,17.7c18-11.1,22.8-16.2,23.7-33.6c-0.9-6.3-2.1-14.4-3.9-24.6L1150.7,175.3z"/>
      <path class="st0" d="M1360.4,168.9l3,11.4c-18.3,18.3-51,45.6-75,44.4c-20.1-0.9-42.3-12.3-47.7-34.2c-1.8,1.8-3.9,3.9-6.6,3.9
        c-3,0-5.1-3-5.1-5.7c0-3.9,4.8-8.1,7.2-10.5l65.1-59.7c0.6-9.9,6.3-19.5,17.1-19.5c9,0,10.8,2.7,11.7,11.1
        c1.2,11.4,5.7,21.6,5.7,34.8c0,24.6-19.8,42.9-39,54.6c19.2,3.3,30.9-5.7,45.6-16.8L1360.4,168.9z M1258.4,175.3
        c11.1,0.6,17.7,9.9,23.4,17.7c18-11.1,22.8-16.2,23.7-33.6c-0.9-6.3-2.1-14.4-3.9-24.6L1258.4,175.3z"/>
      <path class="st0" d="M1462.4,128.4c2.4-3,12.9-16.5,17.1-16.5c3,0,14.4,2.7,14.4,6.3c0,3.9-4.8,11.7-6.9,15
        c-6.6,10.2-27,45-27,56.1c0,3.3,2.1,6,5.7,6c8.4,0,22.8-16.8,29.1-22.2c-1.5-11.4-1.8-16.8,13.8-36.9c4.8-6.3,16.8-21,25.5-21
        c7.2,0,9.6,9.6,9.6,15c0,16.5-10.5,30.3-20.4,42.3c3.9,2.4,6,4.2,10.5,4.2c7.5,0,18-9,23.7-13.5l0.6,13.2c-9,9.3-19.2,18-33,18
        c-7.8,0-11.4-2.1-18-6c-12.9,9.6-36.3,37.2-52.8,37.2c-4.5,0-7.8-2.4-10.8-5.7c-3.3-4.2-7.2-6.6-5.4-35.1
        c-11.1,9.9-31.2,36.9-45.9,36c-16.8-0.9-32.1-16.2-31.5-40.2c0.6-22.2,9.9-35.1,24.9-50.1c25.5-25.8,30.9-27,37.2-26.7
        c13.5,0.6,17.7,4.8,17.7,9.6c0,15.3-38.7,47.7-51,57.3c-0.9,1.8-2.4,10.8-2.4,17.1c0,2.4,0.6,6.6,3.3,6.6c4.8,0,25.2-18,29.4-22.2
        L1462.4,128.4z"/>
      <path class="st0" d="M1676.6,175.5c-13.5,17.1-26.7,24.3-48.6,24.3c-12.6,12.9-27.3,22.5-46.2,22.5c-15.6,0-30-15.6-31.2-42.9
        c-0.6-22.5,10.5-37.5,27.3-50.4c16.2-13.2,37.8-21.3,56.1-22.2c6.6-0.3,16.5,2.7,16.5,10.8c0,4.5-3.6,6.3-6.9,8.1
        c9,2.4,10.8,8.7,10.8,17.7c0,13.2-6,23.7-11.7,35.4c13.2,2.4,21.6-9,30.9-15.9L1676.6,175.5z M1585.1,161.4
        c-6.6,6.6-12.3,18.3-12.3,27.6c0,8.7,5.7,11.4,13.2,11.4c9.9,0,16.2-5.7,23.1-12c-2.1-4.8-3.6-8.7-3.6-13.8
        c0-15.6,14.1-34.5,12.9-35.1C1608.2,145.5,1594.1,152.7,1585.1,161.4z"/>
      <path class="st0" d="M1694,155.4c-10.5,16.5-23.1,24.3-36,37.2l-1.2-13.2c7.8-6.3,14.1-13.8,19.8-21.9c-6.3-0.6-8.1-3-8.1-9.3
        c0-21.6,30.6-43.2,37.8-43.2c3,0,5.4,2.4,5.4,5.1c0,3-0.9,5.7-2.1,8.4c28.2-3.9,44.7-7.5,47.7-3.9c4.5,5.7,6.6,10.5,7.2,15.9
        c0,9.3-5.7,13.8-12.6,19.5c-8.7,7.5-23.4,22.2-23.4,34.2c0,4.8,4.8,8.4,9.3,8.4c12.9,0,31.8-19.5,41.7-27l2.1,11.1
        c-11.4,12.9-45.9,46.2-63,46.2c-12.6,0-20.4-11.7-20.4-23.1c0-20.4,15.6-36.3,27.6-50.7l-0.6-0.6L1694,155.4z"/>
      <path class="st0" d="M1897.4,127.8c-9.9,15.6-24.3,35.1-24.3,54.3c0,4.8,0.3,15,6.9,15c10.2,0,37.8-24.3,47.4-30.6l2.1,9.9
        c-14.1,15.6-45,47.1-66.9,47.1c-11.4,0-15.9-12-15.9-21.6c0-7.5,1.2-15.3,2.4-22.8c-10.5,9-38.4,38.1-51.9,38.1
        c-13.5,0-21.9-28.8-21.9-39.3c0-35.4,59.7-65.4,85.2-66.9c6.3-0.3,8.7,3.9,12.6,8.4c9.9-17.1,36.3-79.2,58.2-79.2
        c6,0,9.6,6,9.6,11.4c0,9-8.1,21.3-12.9,28.8L1897.4,127.8z M1801.7,184.3c-0.3,2.7,1.2,5.1,4.5,5.7c3.6,0.9,51.9-35.1,56.7-52.8
        C1810.1,154.2,1803.5,164.4,1801.7,184.3z"/>
    </g>
    </svg>
</div>


      <div class="clearfix"></div>
    </div>
  </div>
</center>
<center>
  <%= devise_error_messages! %>
</center>
</div>
