<!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit -->
<!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit -->
<!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit -->
<!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit -->
<!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit -->
<!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit -->
<!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit -->
<!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit -->

<div class="container">
        <div class="col-md-12"> 
　    <h2 class="title-h3">管理者用/会員編集</h2>
    <hr>
    </div>
    <div class="row product_show">
        <div class="col-md-3 text-center">
            <%= attachment_image_tag @users, :profile_image, :fill, 200, 200,  fallback: "no_image_top.jpg",class: "img-thumbnail img-responsive center-block" %>

            <h3 class="my-3">登録情報</h3>
            <ul>
                <li class="text-left">名前:<%= @users.last_name %><%= @users.first_name %></li>
                <li class="text-left">ふりがな:<%= @users.first_name_kana %><%= @users.last_name_kana %></li>
                <li class="text-left">ユーザー名:<%= @users.nickname %></li>
                <li class="text-left">電話番号:<%= @users.phone_number1 %><%= @users.phone_number2 %><%= @users.phone_number3 %></li>
                <li class="text-left">メールアドレス:<%= @users.email %></li>
                <li class="text-left">郵便番号:<%= @users.zip %></li>
                <li class="text-left">住所:<%= @users.state %><%= @users.city %><%= @users.street %></li>
            </ul>
        </div>


        <div class="col-md-9">
            <ul>
                <%= form_for @users, url: admins_user_path , html: {method: "PATCH"} do |f| %>
                    <li>名前:<%=f.text_field :last_name ,:placeholder => "苗字" %>名前:<%=f.text_field :first_name  ,:placeholder => "名前"  %></li>
                    <li>ふりがな:<%=f.text_field :last_name_kana ,:placeholder => "みょうじ"  %><%=f.text_field :first_name_kana  ,:placeholder => "なまえ" %></li>
                    <li>ユーザー名:<%=f.text_field :nickname %></li>
                    <li>ポイント:<%=f.text_field :point %></li>
                    <li>電話番号:<%=f.telephone_field :phone_number1 ,maxlength: 4 %>-<%=f.telephone_field :phone_number2 ,maxlength: 4 %>-<%=f.telephone_field :phone_number3 ,maxlength: 4 %></li>
                    <li>郵便番号:<%=f.text_field :zip %></li>
                    <li>都道府県:<%=f.text_field :state %></li>
                    <li>市町村<%=f.text_field :city %></li>
                    <li>町名以下:<%=f.text_field :street %></li>
                    <li>Twitter ID:<%=f.text_field :twitter_id %></li>
                    <li>Facebook ID:<%=f.text_field :facebook_id %></li>
                    <li>Instagram ID:<%=f.text_field :instagram_id %></li>
                    <li>プロフィール画像:<%= f.attachment_field :profile_image %></li>
                    <li>自己紹介:<%=f.text_area :introduction %></li>
                    <li>メールアドレス:<%= f.email_field :email, autofocus: true, autocomplete: "email" %></li>
                    <%= f.submit '更新' ,class: "btn btn-primary" %>
                    <%= link_to "削除", admins_user_path(@users),class: "btn btn-default" %>
                <% end %>
            </ul>
        </div>
    </div>
</div>


<!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit -->
<!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit -->
<!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit -->
<!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit -->
<!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit -->
<!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit -->
<!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit -->
<!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit --><!-- 管理者用edit -->
