


<div class="container">




<ol class="stepBar">
<li class="visited"><span>1</span><br>カート</li>
<li class="visited"><span>2</span><br>注文内容</li>
<li><span>3</span><br>注文完了</li>
</ol>

  <div class="col-xs-12 text-center well well-lg">
      <h6>
      <p>個人情報はユーザー名を除き販売者さまに伝わることはありません。</p>
      <p>入力された個人情報トラブル発生時にのみ、使用をさせていただきます。</p>
      <p>個人情報につきましては管理者が厳重に保管していますのでご安心ください。</p>
      </h6>
</div>

	<% if @order.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="col-md-12"> 
	<h2 class="my-4 title-h3">購入確認画面
		<small><%=current_user.nickname %>様</small>
	</h2>
	<hr>
</div>


<ul class="nav nav-tabs">
	<li class="active"><a href="#sampleContentA" data-toggle="tab">送付先情報</a></li>
	<li><a href="#sampleContentB" data-toggle="tab">登録者情報</a></li>
</ul>
<div class="tab-content">




	<div class="tab-pane active" id="sampleContentA">
			<div class="col-xs-12">
			<h4>送付先情報</h4>
		</div>
		<div class="row product_show">
			<div class="col-xs-12">
			<div class="col-xs-6">
				<%= image_tag 'no_image_top.jpg',class: "img-thumbnail img-responsive center-block order_image" %>
			</div>
			<div class="col-xs-6 profile_text">
				<div class="col-xs-12">
					<%= form_tag(action: :pay, method: :post) do %>
					<%= text_field_tag :last_name,  '', id: "last_name" , :value => current_user.last_name ,:placeholder => "名前" %>
					<%= text_field_tag :first_name, '', id: "first_name" , :value => current_user.first_name ,:placeholder => "苗字" %>

					<li><%= text_field_tag :last_name_kana, '', id: "last_name_kana" , :value => current_user.last_name_kana ,:placeholder => "なまえ" %>
					<%= text_field_tag :first_name_kana, '', id: "first_name_kana" , :value => current_user.first_name_kana ,:placeholder => "みょうじ" %></li>
					
					<li><%= text_field_tag :email, '', id: "input" ,type: "text" ,:placeholder => "メールアドレス" %></li>
					<li><%= telephone_field_tag :phone_number1, '', :value => current_user.phone_number1 ,maxlength: 4  ,:placeholder => "電話番号" %>-
					<%= telephone_field_tag :phone_number2, '', :value => current_user.phone_number2 ,maxlength: 4 ,:placeholder => "電話番号" %>-
					<%= telephone_field_tag :phone_number3, '', :value => current_user.phone_number3 ,maxlength: 4 ,:placeholder => "電話番号" %></li>
					<li><%= text_field_tag :zip, '', id: "zip" ,:value => current_user.zip, maxlength: 7 ,:placeholder => "郵便番号" %></li>
					<li><%= text_field_tag :state, '', id: "address" , :value => current_user.state,:placeholder => "都道府県名" %>
					<%= text_field_tag :city, '', id: "address2" , :value => current_user.city,:placeholder => "市町村名" %>
					<%= text_field_tag :street, '', id: "address3" , :value => current_user.street,:placeholder => "町名以下"  %></li>

					<hr>
					<li>使用ポイント：<%= number_field_tag :used_point, '', :value => current_user.cart.order_point,:readonly =>true , class: "point_form_submit text-right" %>ポイント</li>
					
					<li>獲得ポイント：<%= number_field_tag :get_point, '', :value => ((@sum - current_user.cart.order_point)*0.01).to_i  ,:readonly =>true , class: "point_form_submit text-right" %>ポイント</li>

					<hr>

					<% current_user.cart.product_carts.each do |product_cart| %>
					<% if product_cart.product.id != nil %>
					<script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_4fc1375fd8bbe84bfc6cefa2"></script>
					<%#= submit_tag "購入", src: "https://checkout.pay.jp",type: "text/javascript", class: "payjp-button", data_key: "pk_test_4fc1375fd8bbe84bfc6cefa2" %>
					<% end %>
					<% end %>

				</div>
			</div>
		</div>
		</div>
	</div>

	<div class="tab-pane" id="sampleContentB">
		<div class="col-xs-12">
		<h4>登録者情報</h4>
		</div>
		<div class="row product_show">
			<div class="col-xs-12">
			<div class="col-xs-6">
				<%= attachment_image_tag current_user, :profile_image, fallback: "no_image_top.jpg", class: "img-thumbnail img-responsive center-block order_image" %>
			</div>
			<div class="col-xs-6 profile_text">
				<table>
					<tbody>
						<tr>
							<td class="order_td">ふりがな:</td>
							<td class="col-xs-12"><%= current_user.last_name_kana %><%= current_user.first_name_kana %></td>
						</tr>
						<tr>
							<td>名前:</td>
							<td class="col-xs-12"><%= current_user.last_name %><%= current_user.first_name %></td>
						</tr>
						<tr>
							<td class="order_td">ユーザー名:</td>
							<td class="col-xs-12"><%= current_user.nickname %></td>
						</tr>
						<tr>
							<td>email:</td>
							<td class="col-xs-12"><%=current_user.email %></td>
						</tr>
						<tr>
							<td>電話:</td>
							<td class="col-xs-12"><%= current_user.phone_number1 %>-<%= current_user.phone_number2 %>-<%= current_user.phone_number3 %></td>
						</tr>
						<tr>
							<td class="order_td">郵便番号:</td>
							<td class="col-xs-12"><%= current_user.zip %></td>
						</tr>
						<tr>
							<td>住所:</td>
							<td class="col-xs-12"><%= current_user.state %><%= current_user.city %><%= current_user.street %></td>
						</tr>
						<tr>
							<td></td>
							<td class="col-xs-12"><%= link_to "購入者情報変更", edit_user_path(current_user.id), class: "btn-sm btn btn-default" %></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	</div>
	<hr>
</div>
<div class="col-xs-12">
	<h4>商品情報</h4>
</div>
<div class="product_show">
	<table class="table table-hover">
		<tbody>
			<tr>
				<td></td>
				<td>商品名</td>
				<td>販売者</td>
				<td>価格</td>
			</tr>
			<% current_user.cart.product_carts.each do |product_cart| %>
			<tr>
				<td>商品ID:<%= product_cart.product.id   %></td>
				<td><%= product_cart.product.title  %></td>
				<td><%= product_cart.product.user.nickname %></td>
				<td><%= number_to_currency(product_cart.product.price,:locale => 'jp') %>(税込)</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<hr>
</div>


<div class="col-xs-12 cart_info">
	<hr>
	<table>
		<tbody>
			<tr>
				
				<td class="col-xs-3"></td>
				<td class="col-xs-3">送付先：<span id="output"></span></td>
				<td class="col-xs-3 order_td">合計金額：<h3 class="order_price"><%= number_to_currency(@sum - current_user.cart.order_point,:locale => 'jp') %></h3>（税込）</td>
				<td class="col-xs-1">
					<table>
						<tbody>
							<tr>

								<td clas="order_td">使用ポイント：<%= number_field_tag :used_point, '', :value => current_user.cart.order_point,:readonly =>true ,  class: "point_form" %>ポイント</td>
							</tr>
							<tr>
								<td class="order_td">獲得ポイント：<%= number_field_tag :get_point, '', :value => ((@sum - current_user.cart.order_point)*0.01).to_i  ,:readonly =>true , class: "point_form"%>ポイント</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td class="col-xs-2"></td>
			</tr>
		</tbody>
	</table>
	<hr>
</div>

<div class="col-xs-12">
<hr>
<%= link_to "カートに戻る", cart_path(current_user.id) ,class: "btn btn-default  col-xs-3 col-xs-offset-2" %>
<%= link_to "買い物を続ける", products_path ,class: "btn btn-default  col-xs-3 col-xs-offset-2" %>
<%#= f.submit "購入", class: "btn btn-primary col-xs-2 col-xs-offset-1" %>


<% end %>
</div>
</div>
<%# end %>


<script>
$(function() {
  var $input = $('#input');
  var $output = $('#output');
  $input.on('input', function(event) {
    var value = $input.val();
    $output.text(value);
  });
});
</script>


<!-- 住所自動入力 -->
<script>
$(function () {
  $('#zip').jpostal({
    postcode : [
      '#zip'
    ],
    address : {
      '#address' :'%3',
      '#address2'  :'%4',
      '#address3'  :'%5',
    }
  });
});
</script>

<!-- カナ自動入力 -->
<script type="text/javascript">
    $(document).ready(
        function() {
            $.fn.autoKana('#last_name', '#last_name_kana', {
                katakana : false  //true：カタカナ、false：ひらがな（デフォルト）
        });
    });
        $(document).ready(
        function() {
            $.fn.autoKana('#first_name', '#first_name_kana', {
                katakana : false  //true：カタカナ、false：ひらがな（デフォルト）
        });
    });
</script>
