<div class="container">
	<h1 class="my-4">ショッピングカート
		<small><%=current_user.nickname %>様</small>
	</h1>
	<p>現在ショッピングカートには以下の商品が入っています。</p>
	<div class="row product_show">
		<%= attachment_image_tag @products, :image ,class: "product_show_image" %>
		<hr>
		<div class="col-xs-12">
				<% sum =0 %>
				<% total_count = 0 %>
				<% current_user.cart.product_carts.each do |product_cart| %>
				<% sum += product_cart.product.price %>
				<% total_count += product_cart.quantity %>
			<div class="col-xs-12">
				<table>
					<tbody>
					<tr>
						<td class="col-xs-4">商品ID:<%=product_cart.product.id %></td>
						<td class="col-xs-3">商品情報</td>
						<td class="col-xs-1">販売者</td>
						<td class="col-xs-2">価格</td>
						<td class="col-xs-2"></td>
					</tr>
					<tr>
						<td class="col-xs-4"><%= attachment_image_tag product_cart.product, :image ,class: "col-xs-12" %></td>
						<td class="col-xs-3">
								<table>
									<tbody>
										<tr>
											<td class="">商品名:<%= product_cart.product.title %></td>
										</tr>
										<tr>
											<td class="">カテゴリー:</td>
										</tr>
										<tr>
											<td class="">商品登録日:<%= product_cart.product.created_at.strftime("%Y-%m-%d") %></td>
										</tr>
									</tbody>
								</table>
						</td>
						<td class="col-xs-1"><%= product_cart.product.user.nickname %></td>
						<td class="col-xs-2"><%= product_cart.product.price %>円(税込)</td>
						<td class="col-xs-2">
							<%=link_to "詳細", product_path(product_cart.product.id), class: "btn-sm btn btn-default col-xs-12 text-center"%>
							<%= link_to "削除", product_product_carts_path(product_cart.product_id, product_cart.id), method: :delete, class: "btn-sm btn-danger col-xs-12 text-center", data: { confirm: '本当に消しますか?'} %>
						</td>
					</tr>
					</tbody>
				</table>
				<hr>
			</div>


			
			<% end %>

			<div class="col-xs-12 cart_info">
				<hr>
				<table>
					<tbody>
						<tr>
							<td class="col-xs-4"></td>
							<td class="col-xs-3"></td>
							<td class="col-xs-1">
								<table>
									<tbody>
										<tr>
											<td>送付先：<%= current_user.email %></td>
										</tr>
										<tr>
											<td>数量：<%= total_count %></td>
										</tr>
										<tr>
											<td>商品合計：<%= sum %>円（税込）</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td class="col-xs-2">合計金額：<%= sum %>円（税込）</td>
							<td class="col-xs-2"></td>
						</tr>
					</tbody>
				</table>
				<hr>
			</div>

			<div class="col-xs-12">
				<hr>
				<%=link_to "買い物を続ける", products_path, class: "btn btn-default col-xs-3 col-xs-offset-2" %>
				<%=link_to "レジに進む", new_order_path, class: "btn btn-success col-xs-3 col-xs-offset-2" %>
			</div>


		</div>
	</div>
</div>