<div class="container">
    <ol class="stepBar">
<li class="visited"><span>1</span><br>お問い合わせ入力</li>
<li class="visited"><span>2</span><br>お問い合わせ内容確認</li>
<li><span>3</span><br>お問い合わせ完了</li>
</ol>
    <div class="row">
        <div class="col-xs-12">
            <h1 class="my-4">お問い合わせ内容確認</h1>
            <hr>
            <%= form_for @contact, url: admins_contacts_path , html: {method: "POST"} do |f| %>

                <div class="col-xs-6">
                    <div class="col-md-2 col-xs-12">
                        <label>商品イメージ</label>
                    </div>
                    <div class="col-md-12">
                       <%= attachment_image_tag @contact, :contact_image ,class: "product_show_image" %>
                       <%= f.hidden_field :contact_image, value: f.object.contact_image_attacher.data.to_json %>
                    </div>
                </div>

             <div class="col-xs-6">
                <div class="col-xs-12">
                    <hr>
                    <div class="col-md-2 col-xs-12">
                        <label>名前</label>
                    </div>
                    <div class="col-md-10">
                        <%= @contact.name %>
                    </div>
                </div>

                <div class="col-xs-12">
                    <hr>
                    <div class="col-md-2 col-xs-12">
                        <label>ユーザー名</label>
                    </div>
                    <div class="col-md-10">
                       <%= @contact.nick_name %>円
                    </div>
                </div>

                <div class="col-xs-12">
                    <hr>
                    <div class="col-md-2 col-xs-12">
                        <label>メールアドレス</label>
                    </div>
                    <div class="col-md-10">
                       <%= @contact.email %>円
                    </div>
                </div>

                <div class="col-xs-12">
                    <hr>
                    <div class="col-md-2 col-xs-12">
                        <label>電話番号</label>
                    </div>
                    <div class="col-md-10">
                        <%= @contact.phone %>
                    </div>
                </div>
            </div>

                <div class="col-xs-12">
                    <hr>
                    <%= link_to "キャンセル" ,homes_path, class: "btn btn-default col-xs-3 col-xs-offset-2" %>
                    <%= f.submit "商品登録", class: "btn btn-primary col-xs-3 col-xs-offset-2" %>
                </div>
            <% end %>
        </div>
    </div>
</div>
