<!-- <h1>Homes#index</h1>
<p>Find me in app/views/homes/index.html.erb</p>
 -->



<head>
	<title></title>
	<style type="text/css" media="screen">
		/* BLOCK 1*/
html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body > div {
  width: 100%;
  height: 100%;
}


h2 {
  text-align: center;
  font-size: 80px;
  margin: 0;
  width: 100%;
}

.header {
  background-image: url("https://createkt.com/wp-content/uploads/2017/04/lifezakk_space_1-1200x630.png");
background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative;
}

.header h1 {

  margin: 0;
  text-align: center;
  color: #fff;
  font-size: 100px;
  font-family: impact;
  text-shadow: 0 0 50px #000;
  position: absolute;
  width: 100%;
  top: 35%;
}

.header:before {
  content: "";
  position: absolute;
  height:300px;
  width: 300%;
  background: #fff;
  bottom: -200px;
  left: -100%;
  -webkit-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  transform: rotate(-8deg);
}


/* BLOCK2 */
.block2 {
  position: relative;
  height: 100%;
}

.block2 h2 {
  position: absolute;
  top: 45%;
}


	</style>
</head>

	<div class="header">
    <h1>MY PAGE</h1>
  </div>

<div class="block2">
 <h2><%=link_to "product/indexへGO", products_path %></h2>
</div>

<div class="col-xs-8 col-xs-offset-2 contact_form">
    <div class="col-xs-12">
        <h1>お問い合わせ</h1>
        <hr>
    </div>
<%= form_for @contact, url: {action: 'confirm'} do |f|  %>
<div class="col-xs-6">
<span class="form_design"><%= f.text_field :name, id: "name" , class: "balloon"%><label>名前</label></span>
<span class="form_design"><%=f.text_field :nick_name , id: "nick_name" , class: "balloon"%><label>ユーザー名</label></span>
<span class="form_design"><%=f.email_field :email , id: "email" , class: "balloon"%><label>メールアドレス</label></span>
<span class="form_design"><%=f.telephone_field :phone,maxlength: 11 , id: "phone" , class: "balloon"%><label>電話番号</label></span>
<span class="form_design">画像：<%=f.file_field :contact_image %></span>
</div>

<div class="col-xs-6">
<%=f.text_field :message, class: "index_contact_form" %>
<%= f.submit "送信" ,class: "btn btn-default pull-right" %>
</div>
<% end %>
</div>



<%= render "modal" %>
