<div class="container">
    <ol class="stepBar">
<li class="visited"><span>1</span><br>商品入力</li>
<li class="visited"><span>2</span><br>商品確認</li>
<li><span>3</span><br>登録完了</li>
</ol>
    <div class="row">
        <div class="col-xs-12">
            <h1 class="my-4">商品登録確認</h1>
            <hr>
            <%= nested_form_for(@product) do |f| %>
                <div class="col-xs-12">
                    <div class="col-md-2 col-xs-12">
                        <label>商品イメージ</label>
                    </div>
                    <div class="col-md-10">
                       <%= attachment_image_tag @product, :image ,class: "product_show_image" %>
                       <!-- <%#= hidden_field_tag :"cache[image]", @product.image.cache_name %>   この書き方はCarrierWave！！！ -->
                       <%= f.hidden_field :image, value: f.object.image_attacher.data.to_json %>
                    </div>
                </div>

                <div class="col-xs-12">
                    <hr>
                    <div class="col-md-2 col-xs-12">
                        <label>商品名</label>
                    </div>
                    <div class="col-md-10">
                        <%= @product.title %>
                         <%= f.hidden_field :title %>
                    </div>
                </div>

                <div class="col-xs-12">
                    <hr>
                    <div class="col-md-2 col-xs-12">
                        <label>値段</label>
                    </div>
                    <div class="col-md-10">
                       <%= @product.price %>円
                        <%= f.hidden_field :price %>
                    </div>
                </div>


                <div class="col-xs-12">
                    <hr>
                    <div class="col-md-2 col-xs-12">
                        <label>Google drive URL</label>
                    </div>
                    <div class="col-md-10">
                        <%= @product.url %>
                         <%= f.hidden_field :price %>
                    </div>
                </div>

                <div class="col-xs-12">
                    <hr>
                    <div class="col-md-2 col-xs-12">
                        <label>商品タグ</label>
                    </div>
                    <div class="col-md-10">
                     <%= f.fields_for  :tags do |tag_form| %>
                            <%= tag_form.text_field :tag_name , :readonly => true , style: "border: none",class: "col-md-2 product_new" %>
                         <% end %>
                    </div>
                </div>

                <div class="col-xs-12">
                    <hr>
                    <div class="col-md-2 col-xs-12">
                        <label>商品カテゴリー</label>
                    </div>
                    <div class="col-md-10">
                         <% @product.categories.each do |category| %>
                        <%= category.category_name %>
                         <% end %>
    
                        <div class="hidden_form">
                         <%= collection_check_boxes(:product, :category_ids, Category.all, :id, :category_name ) do |b| %>
                            <%= b.label { b.check_box + b.text }  %>
                        <% end %>
                        </div>


                    </div>
                </div>


                <div class="col-xs-12">
                    <hr>
                    <div class="col-md-2 col-xs-12">
                        <label>商品説明</label>
                    </div>
                    <div class="col-md-10">
                        <%= @product.product_detail %>
                         <%= f.hidden_field :product_detail %>
                    </div>
                </div>

                <div class="col-xs-12">
                    <hr>
                    <%= link_to "内容変更" ,new_product_path, class: "btn btn-default col-xs-3 col-xs-offset-2" %>
                    <%= f.submit "商品登録", class: "btn btn-primary col-xs-3 col-xs-offset-2" %>
                </div>
            <% end %>
        </div>
    </div>
</div>
