<%= form_for (@product) do |f| %>
<div class="row product_show">
	<div class="col-md-8 text-center">
		<%= attachment_image_tag @products, :image  %>
	</div>

	<div class="col-md-4 text-left">
		<h3 class="my-3">商品タイトル</h3>
		<ul>
			<li><%=f.text_field :title %></li>
		</ul>

		<h3 class="my-3">商品詳細</h3>
		<ul>
			<li></li>
			<li></li>
			<li></li>
		</ul>


		<h3 class="my-3">商品説明</h3>
		<ul>
			<li><%=f.text_area :product_detail %></li>
		</ul>


		<%= f.submit 'Update Product' ,class: "btn btn-primary" %>
		<%=link_to "キャンセル", product_path(@products) ,class: "btn btn-success" %>
		<% end %>
	</div>
</div>
