<div class="container">
    <ol class="stepBar">
<li class="visited"><span>1</span><br>商品入力</li>
<li><span>2</span><br>商品確認</li>
<li><span>3</span><br>登録完了</li>
</ol>
    <div class="row">
        <div class="col-xs-12">
            <h1 class="my-4">新規商品登録</h1>
            <hr>
    <div class="col-xs-12 text-center well well-lg bg-danger">
      <h6>
      <p>ユーザー情報の登録が完了していない場合、商品の登録をすることができません。</p>
      <p>オリジナルのコンテンツのみを登録することができます。</p>
      <p>上記のもの以外登録していた場合、削除することがありますのでご了承ください。</p>
      </h6>
    </div>

            <%= nested_form_for @product, url: {action: 'confirm'} do |f|  %>
                <div class="col-xs-12">
                    <div class="col-md-2 col-xs-12">
                        <label>商品イメージ</label>
                    </div>
                    <div class="col-md-10">
                        <%= f.attachment_field :image %>
                    </div>
                </div>

                <div class="col-xs-12">
                    <hr>
                    <div class="col-md-2 col-xs-12">
                        <label>商品名</label>
                    </div>
                    <div class="col-md-10">
                        <%= f.text_field :title, class: "col-md-8 col-xs-12 product_new"%>
                    </div>
                </div>

                <div class="col-xs-12">
                    <hr>
                    <div class="col-md-2 col-xs-12">
                        <label>値段</label>
                    </div>
                    <div class="col-md-10">
                        <%= f.number_field :price,min: 0,step: 100, class: "col-md-2 col-xs-3 product_new"%>円
                    </div>
                </div>


                <div class="col-xs-12">
                    <hr>
                    <div class="col-md-2 col-xs-12">
                        <label>Google drive URL</label>
                    </div>
                    <div class="col-md-10">
                        <%= f.text_field :url, value: "https://drive.google.com/drive_or_file/〇〇〇〇/〇〇〇〇", class: "col-md-8 col-xs-12 product_new"%>
                    </div>
                </div>

                <div class="col-xs-12">
                    <hr>
                    <div class="col-md-2 col-xs-12">
                        <label>商品タグ</label>
                    </div>
                    <div class="col-md-10">
                        <%= f.fields_for :tags do |tag_form| %>
                            <%= tag_form.text_field :tag_name ,class: "col-md-2 product_new" %>
                            <%= tag_form.link_to_remove "削除" , class: "btn btn-default" %>
                        <% end %>
                        <%= f.link_to_add "追加", :tags , class: "btn btn-default" %>
                    </div>
                </div>

                <div class="col-xs-12">
                    <hr>
                    <div class="col-md-2 col-xs-12">
                        <label>商品カテゴリー</label>
                    </div>
                    <div class="col-md-10">
                        <%= collection_check_boxes(:product, :category_ids, Category.all, :id, :category_name) do |b| %>
                            <%= b.label { b.check_box + b.text } %>
                        <% end %>
                    </div>
                </div>


                <div class="col-xs-12">
                    <hr>
                    <div class="col-md-2 col-xs-12">
                        <label>商品説明</label>
                    </div>
                    <div class="col-md-10">
                        <%= f.text_area :product_detail, class: "col-xs-12 product_new_form" %>
                    </div>
                </div>

                <div class="col-xs-12">
                    <hr>
                    <%= link_to "キャンセル" ,products_path, class: "btn btn-default col-xs-3 col-xs-offset-2" %>
                    <%= f.submit "商品登録", class: "btn btn-primary col-xs-3 col-xs-offset-2" %>
                </div>
            <% end %>
        </div>
    </div>
</div>





