

<div class="row product_show">
	<div class="col-md-8 text-center">
		<%= attachment_image_tag @products, :image  %>
	</div>

	<div class="col-md-4 text-left">
		<h3 class="my-3">商品タイトル</h3>
		<ul>
			<li><%= @products.title %></li>
		</ul>

		<h3 class="my-3">商品詳細</h3>
		<ul>
			<li>販売者：<%= @products.user.nickname %></li>
			<li>値段：<%= @products.price %></li>
			<li>登録日<%= @products.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></li>
		</ul>


		<h3 class="my-3">商品説明</h3>
		<ul>
			<li><%= @products.product_detail %></li>
		</ul>


		<% if @products.user != current_user  %>
			<%= link_to "Edit", edit_product_path(@products.id), class: "btn btn-success" %>
		<% end  %>

		<% if @products.user != current_user %>
		<!-- < if current_user.admin? > -->
			<%= link_to "Destroy", product_path(@products), method: :delete, class: "btn btn-danger", data: { confirm: '本当に消しますか?'} %>
		<% end %>

		<% if @products.user == current_user && user_signed_in?  %>
			<%= link_to "カートに入れる", product_product_carts_path(@products.id) ,method: :post, class: "btn btn-primary" %>
		<% end %>
	</div>
</div>
