<div class="container">
<div class="col-xs-12">

<div class="col-md-11">
<h2 class="title-h3 title-h3 product_title_h2">
  商品名<small><%= @products.title %></small></h2>
</div>

<div class="col-md-1">
    <!-- いいね機能 -->
<% if @products.user != current_user && user_signed_in?  %>
<% if current_user.already_liked?(@products) %>
<%= button_to '取り消し', product_product_good_path(@products), method: :delete, class: "not_hoshi" %>
<% else %>
<%= form_for [@products, @product_good] do |f| %>
<%# if @product_good.errors.any? %>
<%# @product_good.errors.full_messages.each do |msg| %>
<!-- <li style="color: red;"><%#= msg %></li> -->
<%# end %>
<%# end %>
<%= f.submit 'いいね！', class: "hoshi" %>
<% end %>
<% end %>
<% end %>
<!-- いいね機能 -->
</div>
</div>





<div class="row product_show">
    	<div class="col-xs-12 col-md-8 text-center">
    		<%= attachment_image_tag @products, :image ,class: "product_show_image" %>
    	</div>

    	<div class="col-xs-12 col-md-4">

        <ul class="nav nav-tabs">
          <li class="active"><a href="#sampleContentA" data-toggle="tab">商品詳細</a></li>
          <li><a href="#sampleContentB" data-toggle="tab">商品説明</a></li>
          <% if user_signed_in? %>
          <li><a href="#sampleContentC" data-toggle="tab">コメント<%= @products.product_comments.count %></a></li>
          <li><a href="#sampleContentD" data-toggle="tab"><i class="fa fa-thumbs-o-up"></i><%= @products.product_goods.count %></a></li>
           <% end %>
        </ul>

<!-- 内容 -->
<div class="tab-content ">
<!--   Aタブ部分    -->
  <div class="tab-pane  active col-md-12 box_scrollbar" id="sampleContentA">
        <h5 class="my-3">商品詳細</h5>
        <ul>
          <li>商品ID：<%= @products.id %></li>
          <li>販売者：<%= @products.user.nickname %></li>
          <li>登録日：<%= @products.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></li>
        </ul>
      <h5 class="my-3">商品タグ</h5>
        <ul>
          <% @tags.each do |tag| %>
          <li><%= tag.tag_name %></li>
          <% end %>
        </ul>
    </div>


<!--   Aタブ部分    -->


<!--   Bタブ部分    -->
  <div class="tab-pane col-md-12 box_scrollbar" id="sampleContentB">
       <h5 class="my-3">商品説明</h5>
        <ul>
          <li><%= @products.product_detail %></li>
        </ul>
  </div>
<!--   Bタブ部分    -->

<!--   Cタブ部分    -->
  <div class="tab-pane col-md-12 box_scrollbar" id="sampleContentC">
         <!--コメント機能-->
<table class="table text-left col-md-12">
  <tbody>
    <tr>
      <td class="comment_td_not col-md-3">投稿者</td>
      <td class="comment_td_not col-md-6">コメント</td>
      <td class="col-md-3"></td>
    </tr>
 <% @product_comments.each do |product_comment| %>
    <tr>
      <td class="comment_td_not"><%= product_comment.user.nickname %></td>
      <td>
        
<table>
  <tbody>
    <tr>
      <td class="comment_td"><%= product_comment.comment %></td>
      <td class="comment_td"><%= product_comment.created_at.strftime('%m/%d') %></td>
    </tr>
  </tbody>
</table>
      </td>
       <% if product_comment.user == current_user || current_admin %>
      <td><%= link_to '削除', product_product_comment_path(@products, product_comment),:confirm => 'コメントを削除しますか?',:method => :delete  %></td>
      <% end %>
    </tr>

     <% end %>
  </tbody>
</table>
       
        <!--ページング機能-->
        <div class="text-center">
          <%= paginate @product_comments, class: "pagenate" %>
        </div>
    <div class="col-md-12">
        <div class="section-title-wrapper style-1 v1 mt-30" id="divAddComment">
        </div>
      <%= form_for [@products, @product_comment] do |f| %>
          <!--エラーメッセージ表示機能-->
          <% if flash[:error].present? %>
            <ul class="errors">
            <% flash[:error].each do |e| %>
              <li>
                <%= e %>
              </li>
            <% end %>
            </ul>
          <% end %>
    </div>
<!--コメント機能-->
  </div>
<!--   Cタブ部分    -->

<!--   Dタブ部分    -->
  <div class="tab-pane col-md-12 box_scrollbar" id="sampleContentD">
        <h5 class="my-3">いいねユーザー</h5>
<table class="table">
  <tbody>
    <% @products.product_good_users.each do |user| %>
    <tr>
      <td class="like_td"><%= attachment_image_tag user, :profile_image, fallback: "no_image_top.jpg",class: "img-circle like_image"  %></td>
      <td class="like_td"><%= user.nickname %></td>
      <td class="like_td"><%= link_to "詳細", user_path(user) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

    

</div>
<!--   Dタブ部分    -->


</div>
<% if user_signed_in? %>
         <div class="submit">
            <!--コメント送信部分-->

      <% if flash[:notice] %>
        <label style="color:red;"><%= flash[:notice] %></label>
      <% end %>
            <%= f.text_field :comment, class: "form-control",placeholder: "コメント" , maxlength:140%>
            <%= f.submit "送信する", class: "btn btn-default pull-right" %>
              </div>
              <% end %>
      <% end %>

</div>

</div>

    <div class="col-md-8 tag">
        <ul class="ul">
          <% @categories.each do |category| %>
        <li class="li">
        <%= link_to "#{category.category_name}", class: "btn btn-primary"  %>
        </li>
        <% end %>
        </ul>
        
    </div>

        <div class="col-md-4">
<div class="pull-right position_price">値段：<h3 class="product_price"><%= @products.price %></h3>円（税込）</div>
<div class="col-xs-12">
<div class="col-xs-6">
         <% if @products.user != current_user && user_signed_in? %>
        <%= link_to "お気に入りに登録", add_product_path(@products.id), method: :post , class: "btn btn-default  text-center  responsive_button" %>
        <% end %>


         <% if @products.user == current_user || admin_signed_in? %>
          <%= link_to "商品編集", edit_product_path(@products.id), class: "btn btn-default  text-center responsive_button" %>
        <% end %>
</div>
<div class="col-xs-6">
        <% if @products.user != current_user && user_signed_in?  %>
          <%= link_to "カートに入れる", product_product_carts_path(@products.id) ,method: :post, class: "btn btn-primary  text-center responsive_button" %>
        <% end %>

        <% if @products.user == current_user || admin_signed_in? %>
          <%= link_to "商品削除", product_path(@products), method: :delete, class: "btn btn-default  text-center responsive_button", data: { confirm: '本当に消しますか?'} %>
        <% end %>
</div>
</div>
        <%= render "modal" %>
    </div>
</div>





