
<!-- 管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index -->
<!-- 管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index -->
<!-- 管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index -->
<!-- 管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index -->
<!-- 管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index -->
<!-- 管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index -->

    <!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4">管理者用/オーダー一覧情報
      </h1>
    <hr>
	<div class="row product_show">
		<table class="table table-hover">
			<tbody>
				<tr>
					<td>オーダーID</td>
					<td>購入者</td>
					<th>購入日時</th>
					<td></td>
					<td></td>
				</tr>

					<% @orders.each do |order| %>
					<tr>
						<td><%= order.id %></td>
						<td><%= order.user.last_name %><%= order.user.first_name %></td>
						<td><%= order.created_at.strftime("%m#{"月"}%d#{"日"}%R") %></td>
						<td><%= link_to "詳細", admins_order_path(order.id), class: "btn btn-success" %></td>
						<td><%= link_to "削除", admins_order_path(order.id), method: :delete, class: "btn btn-danger", data: { confirm: '本当に消しますか?'} %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

						
					
					

<!-- 管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index -->
<!-- 管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index -->
<!-- 管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index -->
<!-- 管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index -->
<!-- 管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index -->
<!-- 管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index -->