
<!-- 管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index -->
<!-- 管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index -->
<!-- 管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index -->
<!-- 管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index -->
<!-- 管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index -->
<!-- 管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index -->


    <div class="container">
      <h1 class="my-4">管理者用/注文一覧
      </h1>
    <hr>
	<div class="row product_show">
		<table class="table table-hover">
			<tbody>
				<tr>
					<td>注文ID</td>
					<td>販売者</td>
					<td>購入者</td>
					<td>合計金額</td>
					<td>購入日時</td>
					<td></td>
					<td></td>
				</tr>

					<% @orders.each do |order| %>
					<% order.product_orders.each do |product_order| %>
					<tr>
						<td><%= order.id %></td>
						<td><%= product_order.product.user.nickname %></td>
						<td><%= order.user.last_name %><%= order.user.first_name %></td>
						<td></td>
						<td><%= order.created_at.strftime("%m#{"月"}%d#{"日"}%R") %></td>
						<td><%= link_to "詳細", admins_order_path(order.id), class: "btn btn-success" %></td>
						<td><%= link_to "削除", admins_order_path(order.id), method: :delete, class: "btn btn-danger", data: { confirm: '本当に消しますか?'} %></td>
					</tr>
				<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<!-- 管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index -->
<!-- 管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index -->
<!-- 管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index -->
<!-- 管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index -->
<!-- 管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index -->
<!-- 管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index  管理者用index -->