<!--管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show -->
<!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show -->
<!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show -->
<!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show -->
<!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show -->
<!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show -->
<!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show -->

<div class="container">
	<h2 class="my-4 title-h3">管理者用/注文詳細</h2>
		<div class="row">
			<table class="table table-hover">
				<tbody>
					<tr>
						<td>商品ID</td>
						<td>販売者</td>
						<td>購入者</td>
						<td>商品名</td>
						<td>商品URL</td>
						<td>値段</td>
						<td>購入日時</td>
						<td>商品登録日</td>
					</tr>
			<% sum =0 %>
			<% total_count = 0 %>
			<% @order.product_orders.each do |product_order| %>

			<% sum += product_order.product.price %>

			<% @order.product_orders.each_with_index do |product_order,i| %>
			<% total_count = i + 1 %>
			<% end %>
						<tr>
							<td><%= @order.id %></td>
							<td><%= product_order.product.user.nickname%></td>
							<td><%= @order.user.last_name %><%= @order.user.first_name %></td>
							<td><%= product_order.product.title %></td>
							<td><%= product_order.product.url%></td>
							<td><%= product_order.product.price %>円</td>
							<td><%= @order.created_at.strftime("%m#{"月"}%d#{"日"}%R") %></td>
							<td><%= product_order.product.created_at.strftime("%m#{"月"}%d#{"日"}%R")%></td>
						</tr>
						<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>


			<div class="col-xs-12 cart_info">
				<hr>
				<table>
					<tbody>
						<tr>
							<td class="col-xs-4"></td>
							<td class="col-xs-3"></td>
							<td class="col-xs-1">
								<table>
									<tbody>
										<tr>
											<td>数量：<h3 class="order_td"><%= total_count %></h3></td>
										</tr>
									</tbody>
								</table>
							</td>
							<td class="col-xs-2 order_td">合計金額：<h3 class="order_td"><%= sum %></h3>円（税込）</td>
							<td class="col-xs-2">
								<%= link_to "戻る", admins_orders_path, class: "btn btn-link btn-xs" %>
								<%#= link_to "編集",  edit_admins_order_path(@order.id), class: "btn btn-link btn-xs" %>
							</td>
						</tr>
					</tbody>
				</table>
				<hr>
			</div>




<!-- 販売者:< .last_name >< .first_name > -->


<!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show -->
<!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show -->
<!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show -->
<!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show -->
<!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show -->
<!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show -->
<!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show --><!-- 管理者用show