<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>

<!-- turbolinks を無効にする中 -->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

<body class='<%= "#{controller.controller_name}" %>'>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <% if admin_signed_in? %>
        <nav class="nav navbar-nav navbar-left">
          <ul class="nav navbar-nav navbar-left">
            <li>
              <%= link_to admins_users_path do %>
              <i class="glyphicon glyphicon-home"></i>管理ページ
              <% end %>
            </li>
            <li>
              <%= link_to products_path do %>
              <i class="glyphicon glyphicon-folder-open"></i>Products
              <% end %>
            </li>
          </ul>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <!--ログイン中のヘッダー-->
            <li>
              <%= link_to admins_users_path, :method => :GET do %>
              <i class="glyphicon glyphicon-user"></i>admin/Users
              <% end %>
            </li>

            <li>
              <%= link_to admins_products_path, :method => :GET do %>
              <i class="glyphicon glyphicon-folder-open"></i>admin/Products
              <% end %>
            </li>
            <li>
              <%= link_to admins_orders_path, :method => :GET do %>
              <i class="glyphicon glyphicon-shopping-cart"></i>admin/Orders
              <% end %>
            </li>

            <li>
              <%= link_to destroy_user_session_path, :method => :delete do %>
              <i class="glyphicon glyphicon-log-out"></i>Logout
              <% end %>
            </li>


            <% else %>
            <!--ログアウト中のヘッダー-->
             <nav class="nav navbar-nav navbar-left">
          <ul class="nav navbar-nav navbar-left">
            <li>
              <%= link_to homes_path do %>
              <i class="glyphicon glyphicon-home"></i>トップページ
              <% end %>
            </li>
            <li>
              <%= link_to products_path do %>
              <i class="glyphicon glyphicon-folder-open"></i>Products
              <% end %>
            </li>
          </ul>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
             <li>
              <%= link_to new_admin_session_path, :method => :GET do %>
              <i class="glyphicon glyphicon-log-in"></i>Login
              <% end %>
            </li>
          </ul>
        </nav>

            <% end %>
          </ul>
        </nav>
      </div>
    </header>

<p id="admin_notice"></p>
    <%= yield %>

    <footer>
      <div class="container">
        <div class="row">
          <div class="footer text-center">
            <p>管理者</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
