<!DOCTYPE html>
<html>
  <head>
        <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css" />
     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>
  </head>


<body class='<%= "#{controller.controller_name}" %>'>
	<header>


		<div class="col-xs-2 text_header-left">
			<li class="icon-position">
				<div id="nav-drawer">
				    <input id="nav-input" type="checkbox" class="nav-unshown">
				    <label id="nav-open" for="nav-input"><span></span></label>
				    <label class="nav-unshown" id="nav-close" for="nav-input"></label>
				     <div id="nav-content">
				     	<!--サイドメニュー-->
				    <% if user_signed_in? %>
				    <!--ログイン中のヘッダー-->
				     	<div class="col-xs-6 col-xs-offset-3">
				     		<%= attachment_image_tag @user, :profile_image,fallback: "no_image_top.jpg",class: "img-circle img-thumbnail" %>
				     	</div>

				     	<div class="col-xs-12 text-center">
				     	<%= current_user.nickname %>
						</div>

    					<!-- 登録のユーザー名 -->
						<div class="col-xs-12 text-center">
				          <div class="container-icon col-xs-2 col-xs-offset-3 text-center">
				            <%= link_to 'https://www.facebook.com/current_user.facebook_id' do %>
				            <i class="facebook fa fa-facebook-square target" style="font-size:30px"></i>
				            <% end %>
				          </div>
				         
  						  <!-- 登録のユーザー名 -->
				          <div class="container-icon col-xs-2 text-center">
				            <%= link_to 'https://twitter.com/current_user.twitter_id' do %>
				            <i class="twitter fa fa-twitter-square target" style="font-size:30px"></i>
				            <% end %>
				          </div>
				         
				          <!-- 登録のユーザー名 -->
				          <div class="container-icon col-xs-2 text-center ">
				            <%= link_to 'https://www.instagram.com/current_user.name' do %>
				              <i class="instagram fa fa-instagram target" style="font-size:30px"></i>
				            </span>
				            <% end %>
				          </div>
						</div>


				     	<div class="col-xs-6 text-center">
				     	フォロワー
						</div>

				     	<div class="col-xs-6 text-center">
				     	いいね
						</div>

						<div class="col-xs-6 text-center">
				     	1000
						</div>

				     	<div class="col-xs-6 text-center">
				     	500
						</div>
						
			        	 <div class="col-xs-8 col-xs-offset-2 text-left cp_link slide_icon">
			              <%= link_to user_path(current_user.id),:method => :GET do %>
			              <i class="side_list glyphicon glyphicon-user"></i>マイページ
			              <% end %>
			            </div>

			        	<div class="col-xs-8 col-xs-offset-2 text-left cp_link slide_icon">
			              <%= link_to cart_path(current_user.cart.id),:method => :GET do %>
			              <i class="side_list glyphicon glyphicon-shopping-cart"></i>カート
			              <% end %>
			            </div>
				   

						 <div class="col-xs-8 col-xs-offset-2 text-left cp_link slide_icon">
				              <%= link_to destroy_user_session_path, :method => :delete do %>
				              <i class="glyphicon glyphicon-log-out"></i>ログアウト
				              <% end %>
				         </div>

				     <% else %>
					<!--ログアウト中のヘッダー-->
						<div class="col-xs-6 col-xs-offset-3">
				     		<%= attachment_image_tag @user, :profile_image,fallback: "no_image_top.jpg",class: "img-circle img-thumbnail" %>
				     	</div>

						 <div class="col-xs-8 col-xs-offset-2 text-left cp_link slide_icon">
						 		 <%= link_to new_user_session_path, :method => :GET do %>
             					 <i class="glyphicon glyphicon-log-in"></i>ログイン
				              <% end %>
				         </div>

						 <div class="col-xs-8 col-xs-offset-2 text-left cp_link slide_icon">
							 <%= link_to new_user_registration_path, :method => :GET do %>
							  <i class="glyphicon glyphicon-edit"></i>新規登録
				              <% end %>
				         </div>
					<% end %>
					 </div>
				 </div>
			</li>
		</div>


		<div class="col-xs-10 text-right text_header-right">
			<ul>
			<% if user_signed_in? %>
			<!--ログイン中のヘッダー-->

				<li class="">
				<% if user_signed_in? %>
						<%=link_to "商品投稿", new_product_path %>
				<% end %>
				</li>
				
				</li>
				<li class="">
					<%= link_to "商品一覧", products_path %>
				</li>

				<% else %>
				<!--ログアウト中のヘッダー-->
				<li class="">
					<%= link_to "ログイン", new_user_session_path %>
				</li>
			<% end %>
		</ul>
	</div>
			<!-- </nav> -->
	</header>

<p id="notice"></p>

<%= yield %>

</body>
</html>



