<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>

<!-- turbolinks を無効にする中 -->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

<body class='<%= "#{controller.controller_name}" %>'>

<header>
<% if admin_signed_in? %>
<div clas="col-xs-12 text-center">
	<label>管理者がログイン中です。</label>
</div>
<% end %>
</header>

<%= yield %>




  </body>
</html>
