<!DOCTYPE html>
<html>
  <head>
        <meta charset="utf-8">
    <%= csrf_meta_tags %>

<!-- turbolinks を無効にする中 -->

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css" />
     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>
  </head>

<body class='<%= "#{controller.controller_name}" %>'>

<header>


<% if admin_signed_in? %>
<div clas="col-xs-12">
	<label>管理者がログイン中です。</label>
</div>
<% end %>
	<div class="col-xs-12 header_nav">
		<div class="col-xs-2 text_header-left text-center">
			<% if user_signed_in? %>
				<div id="nav-drawer">
					<input id="nav-input" type="checkbox" class="nav-unshown">
					<label id="nav-open" for="nav-input" class="position_header">ユーザーページ</label>
					<label id="nav-open2" for="nav-input" class="position_header nav-open_responsive">MENU</label>
					<label class="nav-unshown" id="nav-close" for="nav-input"></label>
					<div id="nav-content">
						<p id="side_notice"></p>
						<!--サイドメニュー-->
						<% if user_signed_in? %>
							<!--ログイン中のヘッダー-->
								<div class="side_menu_point">保有ポイント：<%= current_user.point %>ポイント</div>
							<div>
								<%= attachment_image_tag  @user, :profile_image,fallback: "no_image_top.jpg",class: "img-circle img-thumbnail slide_icon_image" %>
							</div>
							<div class="col-xs-12 text-center side_user_name"><%= current_user.nickname %></div>
							<div class="col-xs-12 list-hover-slide">
							      <div><%= link_to "Facebook", "https://www.facebook.com/#{current_user.facebook_id}", class: "side_menu_sns" %></div>
							      <div><%= link_to "Twitter", "https://twitter.com/#{current_user.twitter_id}", class: "side_menu_sns" %></div>
							      <div><%= link_to "Instagram", "https://www.instagram.com/#{current_user.instagram_id}", class: "side_menu_sns" %></div>
							</div>
							<!-- 登録のユーザー名 -->
							<div><%= link_to "マイページ" , user_path(current_user.id) , class: "side_menu_list" %></div>
							<div><%= link_to "商品一覧" , products_path , class: "side_menu_list responsive_up" %></div>
							<div><%= link_to "商品登録" , new_product_path , class: "side_menu_list responsive" %></div>
							<div><%= link_to "お気に入り" , user_favorite_path(current_user.id) , class: "side_menu_list" %></div>
							<div><%= link_to "販売商品" , user_sale_path(current_user.id) , class: "side_menu_list" %></div>
							<div><%= link_to "購入履歴" , user_history_path(current_user.id) , class: "side_menu_list" %></div>
							<div><%= link_to "売上履歴" , order_sold_path(current_user.id) , class: "side_menu_list" %></div>
							<div><%= link_to "ログアウト" , destroy_user_session_path, :method => :delete  , class: "side_menu_list responsive_up side_menu_list_point" %></div>




	<% else %>
		<!--ログアウト中のヘッダー-->
							<div class="col-xs-6 col-xs-offset-3">
								<%= attachment_image_tag @user, :profile_image,fallback: "no_image_top.jpg",class: "img-circle img-thumbnail" %>
							</div>
							<div><%= link_to "ログイン". new_user_session_path , class: "side_menu_list" %></div>
							<div><%= link_to "新規登録", new_user_registration_path , class: "side_menu_list" %></div>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>

		<!--ログイン中のヘッダー-->
		<% if user_signed_in? %>
						<ul class="snip1226">
							<div class="col-xs-2 text-center text_header-right">
								<li class="">
									<%= link_to "商品一覧", products_path ,class: "text-center css_change responsive"%>
								</li>
							</div>


							<div class="col-xs-7 text-center text_header-right responsive">
								<li class="">
									<%=link_to root_path do %>
									<%= image_tag 'logo.color.png',class: "col-xs-8 col-xs-offset-2 top_logo" %>
									<% end %>
								</li>
							</div>
							

							<div class="col-xs-4 text-center text_header-right">
								<li class="">
									<%=link_to root_path do %>
									<%= image_tag 'logo.color.png',class: "col-xs-8 col-xs-offset-2 top_logo" %>
									<% end %>
								</li>
							</div>

							<div class="col-xs-2 text-center text_header-right">
								<li class="">
									<%=link_to "カート", cart_path(current_user.cart.id) ,class: "text-center css_change responsive"%>
								</li>
							</div>


							<div class="col-xs-2 text-center text_header-right">
								<li class="">
									<%= link_to "ログアウト", destroy_user_session_path, :method => :delete ,class: "text-center css_change responsive" %>
								</li>
							</div>
						</ul>

		<% else %>
		<!--ログアウト中のヘッダー-->
								<ul class="snip1226">

							<div class="col-xs-4 text-center text_header-right responsive">
								<li class="">
									<%= link_to "商品一覧", products_path ,class: "text-center css_change_responsive" %>
								</li>
							</div>



							<div class="col-xs-2 text-center text_header-right">
								<li class="">
									<%= link_to "商品一覧", products_path ,class: "text-center css_change" %>
								</li>
							</div>



							<div class="col-xs-5 text-center text_header-right responsive">
								<li class="">
									<%=link_to root_path do %>
									<%= image_tag 'logo.color.png',class: "col-xs-8 col-xs-offset-2 top_logo_responsive" %>
									<% end %>
								</li>
							</div>

							<div class="col-xs-4 text-center text_header-right">
								<li class="">
									<%=link_to root_path do %>
									<%= image_tag 'logo.color.png',class: "col-xs-8 col-xs-offset-2 top_logo" %>
									<% end %>
								</li>
							</div>

							<div class="col-xs-2 text-center text_header-right">
								<li class="">
									<button class="btn btn-link button-link css_change" id="modal-open" type="button">Signup|Login</button>
								</li>
							</div>


							<div class="col-xs-２ text-center text_header-right responsive">
								<li class="">
									<%= link_to "新規登録", new_user_registration_path ,class: "text-center css_change" %>
								</li>
							</div>
						</ul>
		<% end %>
	</div>
</header>

<p id="notice"></p>

	<%= yield %>


<footer>
	<div class="col-xs-12 footer_main">
		<hr>
		<div class="col-xs-6 col-md-3">
			<ul>
				<h5>サイト説明</h5>
				<li><i class="icon fa fa-info-circle"></i><%= link_to 'How To Use', homes_path(anchor: 'how_to_use'), class: 'text-center' %></li>
				<li><i class="icon fa fa-question-circle"></i><%= link_to 'Q&A', homes_path(anchor: 'q_and_a'), class: 'text-center' %></li>
				<li><i class="icon fa fa-envelope"></i><%= link_to 'Contact', homes_path(anchor: 'contact'), class: 'text-center' %></li>
			</ul>
		</div>
		<div class="col-xs-6 col-md-5">
			<ul>
				<h5>My Web Site Social Networking Service</h5>
				<li><i class="icon fa fa-twitter-square"></i><%= link_to "Twitter" , "https://twitter.com/CodeCellars/" %></li>
				<li><i class="icon fa fa-facebook-square"></i><%= link_to "Facebook" , "https://www.facebook.com/profile.php?id=100024524379559" %></li>
				<li><i class="icon fa fa-instagram"></i><%= link_to "Instagram" , "https://www.instagram.com/code.cellars/" %></li>
				<li><i class="icon fa fa-github-square"></i><%= link_to "GitHub" , "https://github.com/hayato1118/" %></li>
			</ul>
		</div>
		<div class="col-md-4">
			<ul>
<div class="col-xs-12"><%= image_tag 'logo.color.png',class: "col-xs-8" %></div>

				<div class="col-xs-6">
					<h5 class="col-xs-12"><i class="icon fa fa-users"></i>会員人数</h5>
					<h4 class="col-xs-12"><%=User.count(:id) %></h4>
					<li class="col-xs-12">persons</li>
				</div>
				<div class="col-xs-6">
					<h5 class="col-xs-12"><i class="icon fa fa-code"></i>アイテム数</h5>
					<h4 class="col-xs-12"><%=Product.count(:id) %></h4>
					<li class="col-xs-12">items</li>
				</div>

			</ul>
		</div>
				<div class="col-xs-12">
			<hr>
		</div>
		<div class="col-xs-8">
			<ul>
				<li>©️ 2018 HAYATO NAKAMURA </li>
			</ul>
		</div>




		<div class="col-xs-4 text-center">


<div class="fb-share-button" data-href="http://code-cellar-seller.com/" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcode-cellar-seller.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></div>



<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="コードを簡単に購入できるウェブサイト" data-via="CodeCellars" data-hashtags="CodeCellars" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


<div class="line-it-button" data-lang="ja" data-type="share-a" data-url="http://localhost:3000/" style="display: none;"></div>
 <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
 <script type="text/javascript">LineIt.loadButton();</script>



			</div>
				<div class="col-xs-12 text-center">
					<hr>
				<%= link_to "管理人", admins_users_path %>
			</div>
		</div>



<!-- ========================================レスポンシブ============================================================== -->



	<div class="col-xs-9 col-xs-offset-1 footer_responsive">
		<hr>

		<div class="col-xs-6">
			<ul>
				<h5>サイト説明</h5>
				<li><i class="icon fa fa-info-circle"></i><%= link_to 'How To Use', homes_path(anchor: 'how_to_use'), class: 'text-center' %></li>
				<li><i class="icon fa fa-question-circle"></i><%= link_to 'Q&A', homes_path(anchor: 'q_and_a'), class: 'text-center' %></li>
				<li><i class="icon fa fa-envelope"></i><%= link_to 'Contact', homes_path(anchor: 'contact'), class: 'text-center' %></li>
			</ul>
		</div>

		<div class="col-xs-6">
		<%= image_tag 'logo.color.png',class: "col-xs-8 image_responsive" %>
		</div>
<div class="col-xs-12">
<hr>
</div>



		<div class="col-xs-5">
			<ul>
				<h5>My Web Site Social Networking Service</h5>
				<li><i class="icon fa fa-twitter-square"></i><%= link_to "Twitter" , "https://twitter.com/CodeCellars/" %></li>
				<li><i class="icon fa fa-facebook-square"></i><%= link_to "Facebook" , "https://www.facebook.com/profile.php?id=100024524379559" %></li>
				<li><i class="icon fa fa-instagram"></i><%= link_to "Instagram" , "https://www.instagram.com/code.cellars/" %></li>
				<li><i class="icon fa fa-github-square"></i><%= link_to "GitHub" , "https://github.com/hayato1118/" %></li>
			</ul>
		</div>


		<div class="col-xs-7">
			<ul>
				<div class="col-xs-6 text-center">
					<h5 class="col-xs-12"><i class="icon fa fa-users"></i>会員人数</h5>
					<h4 class="col-xs-12"><%=User.count(:id) %></h4>
					<li class="col-xs-12">persons</li>
				</div>
				<div class="col-xs-6 text-center">
					<h5 class="col-xs-12"><i class="icon fa fa-code"></i>アイテム数</h5>
					<h4 class="col-xs-12"><%=Product.count(:id) %></h4>
					<li class="col-xs-12">items</li>
				</div>

			</ul>
		</div>






		<div class="col-xs-12 text-center">
<div class="fb-share-button" data-href="http://code-cellar-seller.com/" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcode-cellar-seller.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></div>



<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="コードを簡単に購入できるウェブサイト" data-via="CodeCellars" data-hashtags="CodeCellars" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


<div class="line-it-button" data-lang="ja" data-type="share-a" data-url="http://localhost:3000/" style="display: none;"></div>
 <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
 <script type="text/javascript">LineIt.loadButton();</script>

		<div class="col-xs-12">
			<ul>
				<li>©️ 2018 HAYATO NAKAMURA </li>
			</ul>
		</div>


			</div>
				<div class="col-xs-12 text-center">
					<hr>
				<%= link_to "管理人", admins_users_path %>
			</div>
		</div>


</footer>
</body>
</html>




<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.12&appId=573602376348519&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>